@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc;
  color: #0f172a;
}
